# Ignore Firebase credentials
serviceAccountKey.json

# Ignore environment variables
.env

# Ignore Python cache
_pycache_/
*.pyc

# Ignore IDE/config files
.vscode/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
